@import url("./styles/header.css")

:root {
    --preto: #000000;
    --fonte-principal: 'Poppin , 'sans serif';
    --branco: #ffffff;
    }
    
    body {
    background-color: var (--preto);
    color: var (--branco);
    font-size: var (--fonte-principal);
    }