.topicos{
    backgroud: var(--azul-degrade);
    text-align: center;
    padding: 1em;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    display: flex;
    padding: 2em 0.5em;
    margin-left: 250px;
}

.topicos__ancora{
    color: var(--branco);
    background-color: var(--laranja);
    font-size: 14px;
    text-decoration: none;
    
}